<table class="table table-bordered" style="width: 12rem;">
  <thead>
    <tr>
      <td>ジャンル検索</td>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
    <tr>
     <td>
     <%= link_to item_search_path(genre) do %>
      <%= genre.name %>
     <% end %>
     </td>
    </tr>
    <% end %>
  </tbody>
</table>