<div class="container">
  <h4>ジャンル一覧</h4>
</div>

<%= render "new", genre: @genre %>

<div class="container">
  <div class="row pt-4">
    <div class="col-4">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ジャンル</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <th><%= genre.name %></th>
              <th><%= link_to '編集する', edit_admin_genre_path(genre), class: 'btn-sm btn-success' %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>